/* backgroud for header */
div.image{
    background-color:chartreuse ;
}

/* background for main form */
div.form{
    background-color:gold ;
    padding:10px;
}

div.pay{
    background-color:coral;
    padding:10px;
}


/* image shaped */
img.title{
    height:150px;
    width:250px;
    border-radius:20%;
}




